@import "../common/var";
@import "../common/mixin";

.product{
    h2{@include titleH2();}
    p{font-size: 20px; margin: 0 0 30px; text-align: center;}
    .wrap{flex-wrap: nowrap;}

    .pic_box{margin-right: 30px;}

    .product02{
        width: 100%;
        flex-wrap: wrap; justify-content: space-between;
        :nth-child(n+3){margin-top: 26px;}
        .box{
            position: relative;
            width: 450px; overflow: hidden;
            img{display: block; width: 100%; transition: 0.5s;}
            .info{
                width: 100%; padding-left:20px;
                position: absolute; left: 0; bottom: 0;
                display: flex; flex-direction: column; align-items: flex-start;
                opacity: 1; transition: 0.3s; 
                h4{@include titleH4(); margin-bottom: 10px;}
                .product_txt{@include bodyText(18px); margin-bottom: 20px;}
            }
            .view_btn{
                position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
                @include viewBtn(0);
            }
            &:hover{
                .info{opacity: 0;}
                .view_btn{opacity: 1;}  
                img{transform: scale(1.2); filter: brightness(0.5);}
                }
        }
    }
    transition: 0.7s;
}
.product.on{
    background-color: $mainColor;
    h2, p{color: $white;}
}

@media screen and (max-width:$minWidth) {
    .product{
        padding: 130px 40px;
        .pic_box{display: none;}
        .product02{
            .box{width: 48.5%;}
        }
    }
}

@media screen and (max-width:960px) {
    .product{
        padding: 100px 80px;
        h2{font-size: 30px; padding: 10px;}
        p{font-size: 16px;}
        .product02{
            :nth-child(n+3){margin-top: 0;}
            .box{
                width: 100%; margin-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .product{
        h2{font-size: 24px; padding: 10px;}
        p{font-size: 14px;}
        .product02{
            .box{
                .info{
                    padding-left: 10px;
                    h4{font-size: 14px; margin-bottom: 5px;}
                    .product_txt{font-size: 10px; margin-bottom: 10px;}
                }
            }
        }
    }
}

@media screen and (max-width:376px) {
    .product{
        h2{font-size: 20px;}
        p{font-size: 12px;}
        .product02{
            .box{
                .info{
                    padding: 0;
                    h4{font-size: 14px; margin: 50% auto;}
                    .product_txt{display: none;}
                }
            }
        }
    }
}